<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- title %></title>
    <link rel="stylesheet" href="/css/theme.min.css" />
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link
      rel="stylesheet"
      media="screen"
      href="/vendor/simplebar/dist/simplebar.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="/vendor/tiny-slider/dist/tiny-slider.css"
    />
    <link rel="icon" type="image/png" href="/img/icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icon.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icon.png" />
  </head>
  <body class="handheld-toolbar-enabled">
    <%- include('partials/admin-signin-modal') %>
    <main class="page-wrapper">
      <header class="shadow-sm"><%-include('partials/admin-header') %></header>
      <%- include('partials/admin-hero') %>
    </main>

    <!-- Vendor scrits: js libraries and plugins-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/drift-zoom/dist/Drift.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/auth.js"></script>
  </body>
</html>
