<!-- Order Details Modal-->
<div class="modal fade" id="order-details">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="order-modal-title">Order Details</h5>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="order-modal-body">
        
      </div>
      <div
        class="modal-footer flex-wrap justify-content-between bg-secondary fs-md"
      >
        <div class="px-2 py-1">
          <span class="text-muted">Subtotal:&nbsp;</span
          ><span id="subtotalModal"></span>
        </div>
        <div class="px-2 py-1">
          <span class="text-muted">Shipping:&nbsp;</span
          ><span id="shippingModal"></span>
        </div>
        <div class="px-2 py-1">
          <span class="text-muted">Total:&nbsp;</span
          ><span id="totalModal"></span>
        </div>
      </div>
    </div>
  </div>
</div>
