<div class="modal-quick-view modal fade" id="quick-view" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title product-title">
          <a
            href="#"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            title="Go to product page"
            id="product-title-link"
          ></a>
        </h4>
        <button
          class="btn-close"
          type="button"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Product gallery-->
          <div class="col-lg-7 pe-lg-0">
            <div class="product-gallery">
              <div
                class="product-gallery-preview order-sm-2"
                id="product-gallery-preview"
              >
                <!-- Product images will be dynamically inserted here -->
              </div>
              <div class="product-gallery-thumblist order-sm-1">
                <!-- Product thumbnails will be dynamically inserted here -->
              </div>
            </div>
          </div>
          <!-- Product details-->
          <div class="col-lg-5 pt-4 pt-lg-0 image-zoom-pane">
            <div class="product-details ms-auto pb-3" id="product-details">
              <!-- Product details will be dynamically inserted here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
